$stepNumberContainerWidth: 30px;

.step-number-container
{
    .step-number-row {
        height: 23%!important
    }

    width: $stepNumberContainerWidth;
}

.item-panel{
    .item-panel-row {
        height: 15%!important
    }
}

.prev-step-number {
    background-color: black;
    color: white
}

.next-step-number {
    background-color: white;
    color: black
}

.constructor-image-container {
    img {
        width:100%;
    }
}
