$stepNumberContainerWidth: 30px;

.step-number-container
{
    .step-number-row {
        height: 23%!important
    }

    width: $stepNumberContainerWidth;
}

.item-panel{
    .item-panel-row {
        height: 15%!important
    }
}

.prev-step-number {
    background-color: black;
    color: white
}

.next-step-number {
    background-color: white;
    color: black
}

.constructor-image-container {
    img {
        width:100%;
    }
}

.item-card {
    font-size: rfs-fluid-value(0.9rem);

    button {
        font-size: rfs-fluid-value(0.9rem);
    }

    .price-container {
        font-size: rfs-value(0.8rem);
    }
}

.item-card-selected {
    @extend .shadow;
    background-color: #F7F7F7;
}
