@import "~bootstrap/scss/bootstrap";
@import "loading.scss";
@import "monumentBuilders.scss";

$enable-shadows: true

body {
}

button.btn-block,
input[type=button].btn-block {
    width: 100%
}

.custom-item-group {
    background-color: white!important
}

